* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    position: relative;
  }
  
  html {
    font-size: 16px;
    color: $color-dark-1;
  }