$color-dark-1: #656774;
$color-white-1: #f5f9fe;
$color-white-2: #e2ebfc;
$color-white-3: #fff;
$color-blue-1: #14f504;
$color-blue-2: #efd004;
$color-menu-item: #068d3a;

$fs-1: 14px;
$fs-2: 1.1rem;
$fs-3: 1.8rem;
$fs-4: 70px;
$fs-5: 1.6rem;
$fs-6: 2.25rem;
$fs-7: 20px;
$fs-8: 44px;

$fw-1: 400;
$fw-2: 500;
$fw-3: 600;
$fw-4: 700;

$animationSpeed: 40s;